.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
	}
			
.axis text {
	font-family: 'Open Sans';
	font-size: 11px;
	fill: black;
	}
	
.axislabel {
	font-family: 'Open Sans';
	font-size: 11px;
	fill: black;
}