svg circle{
    stroke: none;
    fill: steelblue;
    stroke-width: 0;
}

.axis path,
.axis line {
	fill: none;
	stroke: maroon;
	shape-rendering: crispEdges;
	}
			
.axis text {
	font-family: 'Open Sans';
	font-size: 11px;
	fill: green;
	}